In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
all_unemp_path = "Clean Data/all_unemp_clean.csv"
unemp_types_path = "Clean Data/Finalone.csv"

# Read the mouse data and the study results
all_unemp_df = pd.read_csv(all_unemp_path)
unemp_types_df = pd.read_csv(unemp_types_path)

# Combine the data into a single dataset
project1_table_raw = pd.merge(all_unemp_df, unemp_types_df, how="left")

# Display the data table for preview
project1_table_raw

,Month,Year,All Unemployment,Men (20+),Women (20+),White,Black or African American,Asian,Hispanic or Latino,Less than a High School Diploma (25+),High School Graduates No College (25+),Some College or Associate Degree (25+),Bachelor's Degree and Higher (25+)
0,Jan,2001,4.2,3.6,3.6,3.6,8.2,0.0,5.8,6.7,3.8,3.0,1.6
1,Feb,2001,4.2,3.7,3.7,3.7,7.7,0.0,6.1,7.5,3.7,2.8,1.6
2,Mar,2001,4.3,3.8,3.6,3.7,8.3,0.0,6.2,6.8,3.8,2.7,2.0
3,Apr,2001,4.4,3.9,3.7,3.9,8.0,0.0,6.4,6.8,3.7,2.9,2.1
4,May,2001,4.3,3.9,3.8,3.8,7.9,0.0,6.3,6.6,3.9,3.0,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,May,2021,5.8,5.9,5.4,5.1,9.1,5.5,7.3,9.1,6.8,5.9,3.2
245,Jun,2021,5.9,5.9,5.5,5.2,9.2,5.8,7.4,10.2,7.0,5.8,3.5
246,Jul,2021,5.4,5.4,5.0,4.8,8.2,5.3,6.6,9.5,6.3,5.0,3.1
247,Aug,2021,5.2,5.1,4.8,4.5,8.8,4.6,6.4,7.8,6.0,5.1,2.8
248,Sep,2021,4.8,4.7,4.2,4.2,7.9,4.2,6.3,7.9,5.8,4.5,2.5

In [11]:
# Remove Month column and find average
project1_table_raw = project1_table_raw.drop(['Month'], axis=1)
project1_table_raw.head()

,Year,All Unemployment,Men (20+),Women (20+),White,Black or African American,Asian,Hispanic or Latino,Less than a High School Diploma (25+),High School Graduates No College (25+),Some College or Associate Degree (25+),Bachelor's Degree and Higher (25+)
0,2001,4.2,3.6,3.6,3.6,8.2,0.0,5.8,6.7,3.8,3.0,1.6
1,2001,4.2,3.7,3.7,3.7,7.7,0.0,6.1,7.5,3.7,2.8,1.6
2,2001,4.3,3.8,3.6,3.7,8.3,0.0,6.2,6.8,3.8,2.7,2.0
3,2001,4.4,3.9,3.7,3.9,8.0,0.0,6.4,6.8,3.7,2.9,2.1
4,2001,4.3,3.9,3.8,3.8,7.9,0.0,6.3,6.6,3.9,3.0,2.1

In [18]:
# Display the data table for preview
project1_table_year = project1_table_raw.groupby('Year').mean()
project1_table_year.head()

,All Unemployment,Men (20+),Women (20+),White,Black or African American,Asian,Hispanic or Latino,Less than a High School Diploma (25+),High School Graduates No College (25+),Some College or Associate Degree (25+),Bachelor's Degree and Higher (25+)
Year,,,,,,,,,,,
2001,4.741667,4.216667,4.125000,4.166667,8.650000,0.000000,6.575000,7.241667,4.183333,3.300000,2.258333
2002,5.783333,5.300000,5.058333,5.100000,10.241667,0.000000,7.558333,8.433333,5.258333,4.533333,2.908333
2003,5.991667,5.650000,5.116667,5.250000,10.783333,5.983333,7.658333,8.791667,5.450000,4.791667,3.075000
2004,5.541667,5.041667,4.841667,4.800000,10.375000,4.416667,6.950000,8.508333,4.983333,4.233333,2.716667
2005,5.083333,4.416667,4.583333,4.366667,9.983333,3.975000,6.008333,7.625000,4.708333,3.866667,2.308333

In [20]:
# Find Average of each year
project1_table_year.style.format("{:,.2f}")

## Summary Statistics

## Line and Scatter Plots

In [21]:
# Generate a line plot of All Unemployment vs. years
line_plot_df = project1_table_year.loc[project1_table_year["All Unemployment"],:]

# Collect the annual unemployment rates
x = line_plot_df['Year']
y = line_plot_df['All Unemployment']
line, = plt.plot(x, y, color="blue", label="Figure 1. U.S. Unemployment Rate")
plt.title('Figure 1. U.S. Unemployment Rate',fontsize=18)
plt.xlabel('Year',fontsize=16)
plt.ylabel('Unemployment Rate',fontsize=16)
plt.legend(handles=[line],loc="best",fontsize=8)
plt.show()
plt.tight_layout

KeyError: "None of [Float64Index([ 4.741666666666666,  5.783333333333334,  5.991666666666667,\n               5.541666666666667,  5.083333333333333,  4.608333333333333,\n               4.616666666666667,                5.8,  9.283333333333333,\n               9.608333333333333,  8.933333333333334,  8.075000000000001,\n               7.358333333333334,  6.158333333333334,              5.275,\n                           4.875, 4.3500000000000005,  3.891666666666666,\n               3.683333333333334,  8.108333333333334, 5.7444444444444445],\n             dtype='float64', name='Year')] are in the [index]"

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen
Capo_file = Capomulin_final.drop(columns=['Sex','Age_months', 'Timepoint','Metastatic Sites'])
Capo_mouse = Capo_file.groupby('Mouse ID')

y_axis = Capo_mouse['Tumor Volume (mm3)'].mean()
x_axis = Capo_mouse['Weight (g)'].mean()

# plt.scatter(weight_avg_cap,tumor_avg_cap)
# # avg_cap = drug_reg_df.groupby('MouseID').mean()['Capomulin']
# # avg_cap
# scatter_mouse_df = pd.DataFrame({
#     'Weight': [weight_avg_cap],
#     'Tumor Volume': [tumor_avg_cap]})
# scatter_mouse_df

# x_axis = scatter_mouse_df['Weight']
# y_axis = scatter_mouse_df['Tumor Volume']

plt.scatter(x_axis,y_axis, marker='o', facecolors="orange", edgecolors='black', alpha=.75 )
plt.title('Weight vs Tumor Volume of Capomulin Treatment',fontsize=18)
plt.xlabel('Weight in grams',fontsize=16)
plt.ylabel('Tumor Volume',fontsize=16)
plt.show()

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen
#set x and y
# x_values = mouse_df["Weight (g)"]
# y_values = mouse_df["Tumor Volume (mm3)"]

#calculate the regression line/regress values
(cap_slope, cap_intercept, cap_rvalue, cap_pvalue, cap_stderr) = st.linregress(x_axis, y_axis)
cap_fit = x_axis * cap_slope + cap_intercept
plt.scatter(x_axis,y_axis, marker='o', facecolors="orange", edgecolors='black', alpha=.75 )

# Plot scatter plot with regression line equation
line_eq = "y = " + str(round(cap_slope,2)) + "x + " + str(round(cap_intercept,2))
plt.annotate(line_eq,(20,40),fontsize=18,color="red")
# line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# #plot scatter
# plt.scatter(x_values, y_values, marker="o", facecolors="blue", edgecolors="black",
#             s=x_values, alpha=0.75)
plt.title("Tumor Volume and Weight",fontsize=16)
plt.xlabel("Weight (g)",fontsize=14)
plt.ylabel("Tumor Volume (mm3)",fontsize=14)

#plot line
plt.plot(x_axis,cap_fit,"r-")
# plt.annotate(line_eq,(20,37),fontsize=12,color="red")

#print correlation coefficient
print(f"The correlation coefficient is {round(st.pearsonr(x_axis,y_axis)[0],2)}")